body {
  text-align: center;
  background-color: steelblue;
}

#level-title {
  background-color:steelblue;
  color:antiquewhite;
  border: none;
  font-family: 'VT323', monospace;
  font-size: 4rem;
  margin:  5%;
}


.button {
  display: grid;
  gap: 2rem;
  grid-template: 15rem 15rem 10rem/ 15rem 15rem;
  justify-content: center;
}

.btn {
  border: 1rem solid black;
  width: 15rem;
  height: 15rem;
} 

.green {
  background-color:darkolivegreen;
  grid-area: 1/1/2/2;
}

.red {
  background-color:darkred; 
  grid-area: 1/2/2/-1;
}

.yellow {
  background-color: goldenrod;
  grid-area: 2/1/3/2;
}

.blue {
  background-color: navy;
  grid-area: 2/2/3/-1;
} 

.rule {
  color: antiquewhite;
  font-family: 'VT323', monospace;
  text-align: center;
  grid-area: 3/1/-1/-1;
} 

.rule-title {
  font-size: 3rem;
  font-family: 'VT323', monospace;
  background-color:steelblue;
  color:antiquewhite;
  border-color: antiquewhite;
  border-radius: 30%;
  box-shadow: 0.3rem 0.3rem 1rem whitesmoke;
} 

.rule-title:hover + .rule-content {
  display: flex;
}

.rule-content {
  font-size: 1.5rem;
  display: none;
} 

.pressed {
  background-color: grey;
  box-shadow: 0 0 1rem 1rem whitesmoke;
} 

.game-over {
  background-color: black;
  color: whitesmoke;
}
